[Unit]
Description=Running xremap
After=graphical.target

[Service]
Type=simple
KillMode=process
ExecStart=/usr/bin/xremap /home/tiberium/.config/xremap/config.yaml
ExecStop=/usr/bin/killall xremap
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
